[core]
      pager = delta

[interactive]
      diffFilter = delta --color-only --diff-so-fancy --syntax-theme arctic-fox

[delta]
      navigate = true    # use n and N to move between diff sections
      light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[include]
      path = ~/devel/my-dotfiles/delta/themes.gitconfig

[merge]
      conflictstyle = diff3

[diff]
      colorMoved = default

[user]
      name = Ron B
[commit]
      gpgsign = true
[init]
      defaultBranch = main
